* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-comp {
  width: 250px;
  border-radius: 50%;
  margin: 10px;
  display: block;
  align-items: center;
  
}

header {
  display: flex;
  justify-content:center;
  align-items: center;
  /* flex: 1;
  align-items: center;
  height: auto*/
  color: white;
 /* background-color: rgb(5, 5, 5);   */
 font-size: 20px;
}

header nav ul li {
  font-size: 30px;
  
  
  
  /* display: flex;
  flex: 1; */
  margin-left: 25px;
  /* display: inline-block; */
  
}

nav {

  cursor: pointer;
  
  /* font-size: 25px; */
  /* display: flex;
  align-items: center; */
  /* background-color: blue;
  flex-direction: row;
  float: right; */
}
nav ul{
  display: flex;
  list-style-type: none;
  
}
nav ul li a:hover {
  color: rgb(248, 243, 243);

}
nav ul li a:active {
  color:#000;

}

/* .nav:active {
  color: rgb(242, 56, 180);
} */

/*
.section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: blueviolet;
  font-family: roboto;
  background-color: palevioletred;
 
 
}
*/

.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  display: flex;

  align-items: center;
  margin: 100px;
  /* background-color: blueviolet;  */

  
}

.title-container {
  display: flex;
  flex: 1;
  /* flex-direction: row; */
  height: 300px;
  max-width: 300px;
  justify-content: center;
  align-items: center;
   /* background-color: blue;  */
  color: white;
  border-right: 6px solid #d3cccc;
 
  
}







p {
  display: flex;
  display: inline-block;
  flex-direction: row;
  /* border-left: 6px solid #d3cccc; */
  /* height: 300px; */
  width: 1000px;
  font-size: 20px;

  align-items: center;
  flex-wrap: wrap;
  /* background-color: aqua; */
  justify-content: center; 
 
  text-align: center;
  color: white
}





.img-hori {
  width: 30%;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 100);
  flex-wrap: wrap;
  
  

}



body {
 
  padding-bottom: 0px;
  margin: 0;
  background-image: url(./Images/Starrynight.jpeg);
  background-size: cover; 
  background-repeat: no-repeat;
  
  


}



.footer {
  /* background-color: rgb(232, 192, 245); */
  padding: 100px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  height: 200px;
  color: white;
}

.span-2:hover {
  text-decoration: underline;
  cursor: pointer;
}
