* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-comp {
  width: 150px;
  border-radius: 50%;
  margin: 10px;
  display: block;
  align-items: center;
}

.header {
  display: flex;
  flex: 1;
  align-items: center;
  height: auto;
  background-color: rgb(234, 203, 245);
}

.header nav ul li {
  display: flex;
  flex: 1;
  margin-left: 25px;
  display: inline-block;
  background-color: rgb(215, 203, 203);
}

.nav {
  cursor: pointer;
  font-size: 25px;
  display: flex;
  align-items: center;
  background-color: blue;
  flex-direction: row;
}

.nav:hover {
  color: rgb(30, 0, 255);
}

.nav:active {
  color: rgb(242, 56, 180);
}

/*
.section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
  color: blueviolet;
  font-family: roboto;
  background-color: palevioletred;
 
 
}
*/

.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  display: flex;
  align-items: center;
  margin: 20px;
  background-color: blueviolet;

  
}

.title-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 300px;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 57, 237);
}

p {
  display: flex;
  display:inline-block;
  flex-direction: row;
  border-left: 6px solid #000;
  line-height: 300px;
  align-items: center;
  flex-wrap: wrap;
  background-color: aqua;
  justify-content: center;
  text-align: center;
}

.img-hori {
  width: 30%;
  height: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 10);
  flex-wrap: wrap;
  

}

.body {
  background-color: rgb(244, 177, 35);
  padding-bottom: 0px;
  margin: 0;
}



.footer {
  background-color: rgb(232, 192, 245);
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  height: 200px;
}

.span-2:hover {
  text-decoration: underline;
  cursor: pointer;
}
